<div class="w-25 m-4">
  <h1>Add a new cocktail</h1>
  <%= simple_form_for(@cocktail) do |f| %>
    <%= f.input :name, class: "text-white" %>
    <%= f.input :photo, as: :file %>
    <%= f.submit "Create", class: "btn btn-primary" %>
  <% end %>
</div>
