<div class="w-25 m-4">
  <h1>Add a new dose</h1>
  <%= simple_form_for [ @cocktail, @dose ] do |f| %>
    <%= f.input :description, class: "text-white" %>
    <%= f.association :ingredient, class: "text-white" %>
    <%= f.submit "Add dose", class: "btn btn-primary" %>
  <% end %>
</div>
